body {
    font-family: Arial, sans-serif;
    background-color: #3f36c3 !important;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0D006d;
}

.navbar-brand {
    padding-left: 15px;
}

.navbar-nav {
    padding-left: 50px !important;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: #bdbdbd;
}

.dropdown-menu {
    background-color: #331b7d !important;
    opacity: 1; 
}

.dropdown-item {
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important; 
}

.dropdown-item:hover {
    background-color: #606fcf !important;
    color: white;
}

.navbar-toggler {
    border-color: transparent !important; 
}

.navbar-toggler-icon {
    background-color: transparent; 
    filter: invert(1);  
    opacity: 1; 
}

@media (max-width: 700px) {
    .form-inline {
        width: 100%; 
        margin-top: 10px; 
    }

    .form-inline .form-control {
        width: 80%; 
        margin-bottom: 10px; 
        margin-left: auto; 
        margin-right: auto; 
    }
}

.form-inline .form-control {
    opacity: 0.75;  
}

.slideshow{
    margin-top: 30px;
    
}



.carousel-item img {
    max-width: 75%; 
    height: auto; 
    margin: auto; 
   
}

.carousel-control-prev,
.carousel-control-next {
    width: 40% !important; 
}

.carousel-indicators {
    bottom: 10px; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
}

.card img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767.98px) {
    .card {
        margin: 10px auto;
       

    }
}

.hotdeals .card-body{
    text-align: center;
}

.hotdeals{
    margin-top: 30px;
    background-color: rgb(5, 3, 106);
}


.hotdeals h1{
    color: white;
    padding-top: 50px;
    padding-bottom: 25px;
    position: relative;
   text-align: center;
}

.giftcards .card img{
    border-radius: 0;
}


.giftcards .card{
    border-radius: 0;
}

.giftcards .card-body{
   background-color: #ffffff;
}

.giftcards h1{
    color: white;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 60px;
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  position: absolute;
  margin-top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1600px;
  width: 100%;
  background: #10182F;
  border-radius: 6px;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover  {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    position: absolute;
    margin-bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
    max-width: 100%;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}